/*Body formating being done here */
body{
    background-color: rgb(192, 242, 255) ;
    
}

/* navigation styles*/

.flex-container{
    /*background-color: aqua;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 2 1 1;
    color: rgba(7, 82, 38, 0.801);
}


.navigation{
    padding: 15px 30px;
    border: 1px solid black;
    margin: 10px 30px ;
    color:rgb(28, 56, 209);
    font-size: larger;
    font-weight: 600;
    list-style-type: none;
}


/*Heading styles*/
h1{
    align-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: xx-large ;
    text-transform: uppercase;
}

/*Form styles*/

/*Footer styles*/
.container2{
    margin-top: 1000px;
    font-weight: 700;
    display: flex;
    -ms-flex-align: end;
}